table {
    text-align: center;
    margin: 0px auto;
}

td {
    padding: 10px;
}

#topTitle {
    text-align: center;
    margin: 0px auto;
}

a {
    color: SteelBlue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#socialMediaLogos {
    text-align: center;
}

#aboutMe {
    width: 500px;
    height: 120px;
    line-height: 1.5;
    font-size: 16pt;
}

.miguel {
    border-radius: 50%;
}
